<p>customercreate works!</p>
<h1>NEW CUSTOMER</h1>

<!-- <div class="form-outline mb-4" >
  <label class="form-label" for="cname"><strong>Enter name</strong></label> <input
    type="text" id="cname" required pattern="[a-zA-Z' ']" minlength="3" placeholder="Enter name"
                            [(ngModel)]="customerDetails.cname"  #ba="ngModel"
    class="form-control form-control-lg" /> -->

<div class="form-outline mb-4" >
  <label class="form-label" for="cname"><strong>Enter name</strong></label> <input
    type="text" id="cname"   placeholder="Enter name"
                            [(ngModel)]="customerDetails.cname"  #ba="ngModel"
    class="form-control form-control-lg" />
   
<div class="form-outline mb-4" >
  <label class="form-label" for="phone">
    <strong>Phone number</strong> </label> <input type="number" id="phone" 
                            [(ngModel)]="customerDetails.phone"  #bt="ngModel" placeholder="Enter phone no"
    class="form-control form-control-lg" />

    <button (click)="addCustomer()"  class="btn btn-primary">
      Add customer
    </button>

      
 

    