<p>productlist works!</p>

<h2> Product List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Product Name</th>
            <th> Price</th>
            <th> Quantity </th>
            <th> MDate</th>
            <th> EDate</th>

            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let prod of products" >
            
            <td> {{ prod.pid}} </td>
            <td> {{prod.pname }} </td>
            <td> {{ prod.price} </td>
            <td> {{ prod.qty} </td>
            <td> {{ prod.mdate} </td>
            <td> {{ prod.edate} </td>

<td>
                <!-- <button (click) = "updateCustomer(customer.cid)" class = "btn btn-info"> Update</button> -->
                <button (click) = "onDelete(prod.pid)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
             <!-- <button (click) = "customerlist(cust.cid)" class = "btn btn-info" style="margin-left: 10px"> View</button>  -->
            </td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>